body {
  background: #fff;
  padding: 0;
  margin: 0;
}

a, a:visited {
  color: blue;
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

header {
  padding: 0.5em;
  background: #ddd;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

header .logout {
  align-self: center;
}

.app .production {
  display: none;
}

.app.production .production {
  display: block;
}

main {
  padding: 0 2%;
}

.userinfo .avatar {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

.locations ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.locations .location-selector {
  background: #ddd;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 8px;
  cursor: pointer;
}

.locations .location-selector.active {
  background: palegoldenrod;
  cursor: auto;
}

.locations .current-location {
  display: flex;
}

.locations .current-location .info {
  padding: 0.5em;
  align-self: center;
}

.locations .current-location span {
  display: block;
}

.locations .current-location .map {
  border: 2px solid #ccc;
}

.live-data .circuits {
  display: flex;
  justify-content: space-between;
}

.live-data .circuits > div {
  width: 48%;
}

.live-data li {
  padding: 0.5em;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.live-data li:nth-child(2n) {
  background: #ccc;
}

.live-data li .label {
  font-weight: bold;
  margin-right: 0.5em;
}

button {
  font-size: 1.2em;
  background: #ddd;
}

.historical code {
  padding-right: 1em;
}

pre, code {
  background: #ccc;
  border: 1px solid #999;
  padding: 0.5em;
}

pre {
  height: 300px;
  overflow: auto;
}
