extends layout/page

block header
  a(href='/logout') Logout

block main  
  h1 You are logged in as #{user.name}
  h3 Your locations
  ul
    each loc in locations
      li 
        a(href='/location/' + loc.id) #{loc.name}
