doctype html
html(lang="en")
  head
    title Welcome to the Curb app
  body
    header
      block header
    main
      block main
    footer
      block footer
    script(type="application/javascript" src="/js/app.js")
